<div class="page-header">
    <h1>{{wep.wep}} | {{wep.skin}}</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Well-Worn</h3>
        <ul class = "list-group">
            <li class= "list-group-item">Lowest: {{skin['Well-Worn'].lowest_price}}</li>
            <li class= "list-group-item">Median: {{skin['Well-Worn'].median_price}}</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3>Battle-Scarred</h3>
        <ul class = "list-group">
            <li class= "list-group-item">Lowest: {{skin['Battle-Scarred'].lowest_price}}</li>
            <li class= "list-group-item">Median: {{skin['Battle-Scarred'].median_price}}</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3>Field-Tested</h3>
        <ul class = "list-group">
            <li class= "list-group-item">Lowest: {{skin['Field-Tested'].lowest_price}}</li>
            <li class= "list-group-item">Median: {{skin['Field-Tested'].median_price}}</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3>Minimal Wear</h3>
        <ul class = "list-group">
            <li class= "list-group-item">Lowest: {{skin['Minimal Wear'].lowest_price}}</li>
            <li class= "list-group-item">Median: {{skin['Minimal Wear'].median_price}}</li>
        </ul>
    </div>
</div>
